<%- include head.ejs %>
<body>
  <%- include header.ejs %> 

  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper body-wrapper">   
    <div class="wrapper ad-pad clearfix">
        
      <div class="main-content clearfix col-3-4">
        
        <h1>Copa Mastercard Cerejao 2016</h1>
            
        <div class="clearfix evt-single-date">
          <h6 class="left">5th August 2016</h6>
          <div class="evt-price right">$60</div>
        </div>
        
        <div class="banner-championship">
          <img src="http://placehold.it/850x250" />
        </div>
        
        
        <div class="boxy boxy-pad col-1-3">
          <h5>Detalhes</h5>
          <ul class="widget-list list-2">
            <li><strong>Começa:</strong> 09:00 - 5 Aug 2014</li>
            <li><strong>Termina:</strong> 15:00 - 5 Aug 2014</li>
            <li><strong>Venue:</strong> John Bause Park </li>
            <li><strong>Phone:</strong> 555 555 1234 </li>
            <li><strong>Address:</strong> 310 Ashford Circuit, Suburbia, Australia, 4000  </li>
            <li><strong>Evento no facebook:</strong> <a href="#">www.sport.com</a></li>
          </ul> 
        </div> 
        
        <h3>Regras e inscricoes</h3>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.</p>
        
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.</p>
        
        <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        
        
      
            
        <!-- Finish Main Content -->
      </div>
      
      
      
      <!-- Start Main Sidebar  -->
      <aside class="col-1-4 last">
        <div class="widget">
            <h3>Proximos Campeonatos</h3>
            <ul class="widget-event-list">
              <li>
                <img class="left stay" src="img/thumb-3.jpg" alt="mock" />
                <div class="date">15 Aug</div>
                <h6 class="title"><a href="event.html">Copa Mastercard Cerejao 2016</a></h6>
              </li>
              
              <li>
                <img class="left stay" src="img/thumb-3.jpg" alt="mock" />
                <div class="date">15 Dez</div>
                <h6 class="title"><a href="event.html">Outro Campeonato</a></h6>
              </li>
              
            </ul>
          </div>
      
      
    </div>
  </div>
  
  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper breadcrumb-wrapper">   
    <div class="wrapper">
      <a href="/" class="fa">&#xf015;</a> <a href="/">Home</a> <a href="#">Campeonatos</a> 
    </div>
  </div>      
  <%- include footer.ejs %>    

</body>

</html>