<%- include head.ejs %>
<body>
  <%- include header.ejs %> 
      
  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper body-wrapper">   
    <div class="wrapper ad-pad clearfix">
      
      
      <div class="col-3-4">
            <h1>Entre em Contato</h1>
            <p class="lead">Cras justo odio, dapisonec  elit non mi porta gravida curab blaitit non mi porta gravida atmi porta gra eget metus. Praesent commodo cursus magna. </p> 
                      
            
            
             
             
            <!-- Start Form -->
            <form id="contactform" action="php/processForm.php" method="post">
              <table class="tableless">
                <tr><td><input type="text" id="name" name="name" placeholder="What's your name" /></td></tr>
                <tr><td><input type="email" id="email" name="email" placeholder="Email goes here" /></td></tr>
                <tr><td><textarea id="message" name="message" rows="5" cols="20" placeholder="Whats this about?"></textarea></td></tr>
              </table>
              
              
              <input name="button" class="btn-2" type="submit" value="Send Message" id="send" />
            </form>
            
            
            
            <div id="response"></div>
                                                                                                                 
        <!-- Finish Main Content -->
          </div>
      
      
      
  
      <!-- Start Main Sidebar  -->
      <aside class="col-1-4 last">
        <div class="widget">
        <h3>Find us at</h3>
          <ul class="widget-list list-1">
            <li><a href="#">facebook.com/sport</a></li>
            <li><a href="#">google.plus.com/sport</a></li>
            <li><a href="#">Twitter.com/sport</a></li>
            <li>310 Ashfield Ave, Suburbia, Brisbane, Australia, 4000</li>
          </ul>
          </div>  
      </aside> 
      <!-- Finish Sidebar -->
        
      
    </div>
  </div>
      
      
      
  <!-- Start Outter Wrapper --> 
  <div class="outter-wrapper map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28369.415587766056!2d152.98820641500242!3d-27.276331333808365!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b93fb9c9442c901%3A0x10b5aa2f23d9e4e1!2sAshford+Circuit%2C+Petrie+QLD+4502!5e0!3m2!1sen!2sau!4v1406620130126" width="600" height="550" frameborder="0" style="border:0"></iframe>
  </div>
  <!-- End Outter Wrapper -->   
  

     
    
      
    <!-- Start Outter Wrapper -->
    <div class="outter-wrapper breadcrumb-wrapper">   
      <div class="wrapper">
        <a href="/" class="fa">&#xf015;</a> <a href="/">Home</a> <a href="#">Contato</a> 
      </div>
    </div>      
    <%- include footer.ejs %>    
    </body>
</html>
