<%- include head.ejs %>
<body>
  <%- include header.ejs %> 


      <!-- Start Outter Wrapper -->
      <div class="outter-wrapper paralax-block" style="background-image: url(img/parallax-bg2.jpg);" data-stellar-background-ratio="0.0">   
        <div class="wrapper clearfix">
          <h1>Realize seu evento no Cerejao</h1>
          <p class="col-1-2">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.</p>
        </div>
      </div>
      
        
            
        
    <!-- Start Outter Wrapper -->
    <div class="outter-wrapper body-wrapper">
        
      <div class="wrapper blog-roll ad-pad clearfix">
      
        <!-- Start Main Column  -->
        <div class="col-3-4">
        
          <div class="clearfix post">
            

            <h1 class="title">Eventos</h1>
          
            <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at erosCras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            
            <p>Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.Donec ullamcorper nulla non metus auc id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            
            <div class="col-2-5 right last pad-left">
              <img class="" src="img/fill-1.jpg" alt="Mock" />
              <span class="wp-caption-text">General Caption about this image</span>
            </div>
            
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.</p> 
            
            
            
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus urabitur blandit.</p>
            
            
            
          </div>
          

          
        </div>
        
        
        
        
        
        <!-- Start Right Sidebar  -->
        <aside class="col-1-4 right last">
            
            <div class="widget">
            <h3 class="widget-title">Tipos de eventos</h3>
            <ul class="tag-cloud">
              <li><a href="#">Festa infantil</a></li>      
              <li><a href="#">Churrascos</a></li>        
              <li><a href="#">Reunioes</a></li>       
              <li><a href="#">Aniversarios</a></li>       
              <li><a href="#">Casamentos</a></li>       
              <li><a href="#">Campeonatos</a></li>       
              <li><a href="#">Game</a></li>      
              <li><a href="#">Points</a></li>       
              <li><a href="#">Wins</a></li>       
              <li><a href="#">Loss</a></li>       
              <li><a href="#">Season</a></li>       
              <li><a href="#">Times</a></li>       
              <li><a href="#">Trophy</a></li>   
            </ul>
            </div>  
        </aside>
        
        
        
      </div>
    </div>
        
        

    <!-- Start Outter Wrapper -->
    <div class="outter-wrapper body-wrapper">
          
      <div class="wrapper ad-pad clearfix">
      
        <!-- Start Main Column  -->
        <div class="col-1-1">
          
          <!-- Start Gallery Section -->
          <div class="clearfix">
            <div class="col-1-4">
              <h3>Galeria de Eventos</h3>
              <p class="lead">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> 
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum
              </p>
            </div>        
            
            <div class="col-3-4 last">
              <!-- Start Carousel -->
              <div class="owl-carousel-container">
                  <!-- Carousel Nav -->
                  <div class="customNavigation">
                      <a class="prev"></a>
                      <a class="next"></a>
                  </div>
              
                  <div id="carousel-single" class="owl-carousel carousel-single">
        
                      <!-- Carousel Item -->  
                      <div class="item">
                          <img src="img/fill-4.jpg" alt="Fill" />
                          <span class="wp-caption-text">General Caption about this image</span>
                      </div>
                      
                      <!-- Carousel Item -->  
                      <div class="item">
                            <img src="img/fill-3.jpg" alt="Fill" />
                            <span class="wp-caption-text">General Caption about this image</span>
                      </div>
                      
                      <!-- Carousel Item -->  
                      <div class="item">
                            <img src="img/fill-8.jpg" alt="Fill" />
                            <span class="wp-caption-text">General Caption about this image</span>
                      </div>
                      
                      <!-- Carousel Item -->  
                      <div class="item">
                            <img src="img/fill-1.jpg" alt="Fill" />
                            <span class="wp-caption-text">General Caption about this image</span>
                      </div>
        
                  </div>
              </div>
              
            </div>
          </div>
          
          
          

        </div>
        
      </div>
    </div>
        
  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper breadcrumb-wrapper">   
    <div class="wrapper">
      <a href="/" class="fa">&#xf015;</a> <a href="/">Home</a> <a href="#">Eventos</a> 
    </div>
  </div>       
  <%- include footer.ejs %>    

</body>

</html>