
<!-- Start Outter Wrapper -->
  <div class="outter-wrapper footer-wrapper">   
    <div class="wrapper clearfix">
      <!-- Start Widget -->
      <div class="col-1-4 widget">
        <h3 class="widget-title">Contato</h3>
        <ul class="list-1">
          <li>
            <strong>Telefone:</strong><br/>  
            +61 555 555 1234
          </li>
          <li>
            <strong>Reservas:</strong><br/>  
            +61 555 555 1234
          </li>
          <li><a href="#">contato@cerejao.com.br</a></li>  
        </ul> 
      </div>



      <!-- Start Widget -->
      <div class="col-1-4 widget">
        <h3 class="widget-title">Nossa Missao</h3>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus.</p>
      </div>



      <!-- Start Widget -->
      <div class="col-1-4 widget">
        <h3 class="widget-title">Horario de funcionamento</h3>
        <ul class="open-hours">
          <li>Mondays <span>9am - 10pm</span></li>
          <li>Tue - Fri <span>9am - 9pm</span></li>
          <li>Sat - Sun <span>7am - 9pm</span></li>
          <li>Public Holidays <span>7am - 1am</span></li>
        </ul> 
      </div>


      <!-- Start Widget -->
      <div class="col-1-4 widget last">
        <a class="logo" href="index.html">
          <img src="img/logo-tmp.png" alt="Sport" />
        </a>
        <ul class="list-1">
          <li>
            <strong>Endereço:</strong><br/>  
            310 Ashfield Ave, Suburbia, Brisbane, Australia, 4000
          </li>
          <li>
            <strong><a href="/contato">Ver no mapa</a></strong>
          </li>
        </ul> 
      </div>
    </div>
  </div>



  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper base-wrapper">
    <div class="wrapper clearfix">
      <div class="left">© Copyright Cerejao 2016</div>

      <!-- Social Icons -->
      <ul class="social-links right">
        <li><a class="fa" title="Facebook" href="#">&#xf09a;</a></li>
        <li><a class="fa" title="Twitter" href="#">&#xf099;</a></li>
        <li><a class="fa" title="Google Plus" href="#">&#xf0d5;</a></li>
      </ul>
    </div>
  </div>




  <!-- Load jQuery -->
  <script type="text/javascript" src="js/vendor/jquery-1.8.3.min.js"></script>

  <!-- Start Scripts --> 
  <script type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="js/jquery.sidr.js"></script>
  <script type="text/javascript" src="js/fancybox/jquery.fancybox.js?v=2.1.4"></script>
  <script type="text/javascript" src="js/cleantabs.jquery.js"></script>
  <script type="text/javascript" src="js/fitvids.min.js"></script>
  <script type="text/javascript" src="js/jquery.scrollUp.min.js"></script>
  <script type="text/javascript" src="js/media/mediaelement-and-player.min.js"></script>
  <script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
  <script type="text/javascript" src="js/selectivizr-min.js"></script>
  <script type="text/javascript" src="js/placeholder.js"></script>
  <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
  <script type="text/javascript" src="js/mosaic.1.0.1.js"></script>
  <script type="text/javascript" src="js/jquery.isotope.js"></script>
  <script type="text/javascript" src="js/toggle.js"></script>
  <script type="text/javascript" src="js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="js/jquery.countdown.js"></script>
  <script type="text/javascript" src="js/jquery.sticky.js"></script>
  <script type="text/javascript" src="js/html5media.js"></script>
  <script type="text/javascript" src="js/slider-1.js"></script>

  <script type="text/javascript" src="js/main.js"></script>



  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
