<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">

  <!-- Page title + Description -->
  <title>Cerejão - Quadras Society</title>
  <meta name="description" content="Sport is the best theme for sports clubs and centres">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="favicons/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">



  <!-- Style Sheets -->
  <link rel="stylesheet" type="text/css" href="css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">

  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">  
  <link rel="stylesheet" type="text/css" href="css/jquery.sidr.light.css">
  <link rel="stylesheet" type="text/css" href="js/media/mediaelementplayer.min.css" />
  <link rel="stylesheet" type="text/css" href="js/owl-carousel/owl.carousel.css"> 
  <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css?v=2.1.4"/> 
  <link rel="stylesheet" type="text/css" href="css/mosaic.css" />
  <link rel="stylesheet" type="text/css" href="css/responsive.css">
  <link rel="stylesheet" type="text/css" href="css/rs-plugin.css">
  <link rel="stylesheet" type="text/css" href="js/rs-plugin/css/settings.css" />
  <link rel="stylesheet" type="text/css" href="css/tooltipster.css">
  <link rel="stylesheet" type="text/css" href="css/mega.css" />


  <link rel="stylesheet" type="text/css" href="css/skin1.css"> <!-- change to skin2.css for other skin -->
  <link rel="stylesheet" type="text/css" href="css/full.css"> <!-- change to boxed.css for boxed style -->

  <link rel="stylesheet" type="text/css" href="custom-styles.css">

  <!-- Scripts -->
  <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>