<!-- Header Area -->
<div class="outter-wrapper header-area header-style-5">
  <div class="wrapper clearfix logo-container with-menu">

    <!-- Start Mobile Menu Icon -->
    <div id="mobile-header" class="">
      <a class="logo-mobile" href="index.html">
        <img src="img/logo-tmp.png" alt="Scene" />
      </a>
      <a id="responsive-menu-button" href="#sidr-main">
        <em class="fa fa-bars"></em> Menu
      </a>
    </div>

    <header>
      <div id="navigation" class="clearfix">

        <ul class="menuHideBtn">
          <li><a id="closebtn" class="fa" href="#">&#xf00d;</a></li>
        </ul>


        <div class="main-header-left left adjust-left">
          <a class="logo" href="index.html">
            <img src="img/logo-tmp.png" alt="Scene" />
          </a>
        </div>


        <div class="main-header-right right adjust-right">
          <nav class="megamenu_container">
            <ul id="nav" class="right megamenu">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/contato">Contato</a>
              </li>
              <li>
                <a href="/reserva">Reservas</a>
              </li>
              <li>
                <a href="/campeonatos">Campeonatos</a>
              </li>
              <li>
                <a href="/eventos">Eventos</a>
              </li>

            </ul>
          </nav>
        </div>

      </div>
    </header>
  </div>
</div>  

<!-- Post Header Area -->
  <div class="outter-wrapper nav-container post-header-area header-style-5 page-sticky">
    <div class="wrapper clearfix">
      <div class="post-header-right right stay">
        <ul class="social-links boxy">
          <li><a class="fa" title="Facebook" href="#">&#xf09a;</a></li>
          <li><a class="fa" title="Twitter" href="#">&#xf099;</a></li>
          <li><a class="fa" title="Google Plus" href="#">&#xf0d5;</a></li>
          <li><a class="fa" title="RSS" href="#">&#xf09e;</a></li>
        </ul>
      </div>
    </div>
  </div>