<%- include head.ejs %>
<body>
  <%- include header.ejs %>

  <!-- Revolution Slider -->
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>

        <!-- SLIDE  -->
        <li data-transition="fade" data-masterspeed="500" >
          <!-- MAIN IMAGE -->
          <img src="img/mock.jpg" alt="Slider Image 1" data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-heading"
          data-x="0" data-hoffset="0"
          data-y="155" data-voffset="0"
          data-captionhidden="off"
          data-speed="800"
          data-start="500"
          data-easing="Power4.easeInOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.05"
          data-endelementdelay="0.1"
          data-endspeed="1000"
          data-endeasing="Power1.easeOut">
          Campos de Futebol,<br/> 
          Eventos, escola e campeonatos
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-text"
        data-x="0" data-hoffset="0"
        data-y="280" data-voffset="0"
        data-captionhidden="off"
        data-speed="800"
        data-start="750"
        data-easing="Power4.easeInOut"
        data-splitin="none"
        data-splitout="none"
        data-elementdelay="0.05"
        data-endelementdelay="0.1"
        data-endspeed="1000"
        data-endeasing="Power1.easeOut">
        Cum sociis natoque penatibus et magnis dis parturient montes,<br/> 
        nascetur ridiculus mus. Maecenas sed diam eget risus varius<br/>
        blandit sit amet non magna... 
      </div>

      <!-- LAYER NR. 3 -->
      <div class="tp-caption fadeout sfr tp-resizeme"
      data-x="0" data-hoffset="0"
      data-y="400" data-voffset="0"
      data-speed="800"
      data-start="1000"
      data-easing="Power4.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.05"
      data-endelementdelay="0.1"
      data-endspeed="1000"
      data-endeasing="Power1.easeOut">
      <a class="btn" href="pricing1.html">Faça sua Reserva</a>&nbsp; <a class="btn-2" href="about.html">Entre em Contato</a>
    </div>
  </li>


</ul>
</div>
</div>



<!-- Start Outter Wrapper -->
<div class="outter-wrapper body-wrapper">   
  <div class="wrapper ad-pad clearfix">

    <!-- Column -->
    <div class="col-md-12">
      <h3>O Cerejao</h3>
      <p class="lead">Cras justo odio, dapisonec  elit non mi porta gravida curab blait tempus.</p>
      <p>Morbi leo risus, porta ac conse ctetur ac, vestibulum at erosite. Aenean lacinia bibendum nulsed consectetur. Nullam quis risusa eget urna mollis s lacus vel augue laoreet rutrum fauci leo Duis mollis, est non commodo luctus, nisi erat porttito. Fusce dapibus, tellus ac cursus commodo, tortor mauris condi. Nulla vitae elit libero, a phaugue. 
        &#8230;<a class="read-more" href="about.html">More</a></p>              
      </div>
      
      
    </div>
  </div>




  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper divider"></div>


  


  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper centered paralax-block" style="background-image: url(img/parallax-bg2.jpg);" data-stellar-background-ratio="0.75">   
    <div class="wrapper clearfix">
      <blockquote>“Grande promoção de inauguração, venha nos conhecer e o primeiro jogo é grátis ”
        <cite>Murillo - Bandeirinha do Cerejao</cite>
      </blockquote>
    </div>
  </div>


  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper divider"></div>


  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper feat-block-1">
    <div class="wrapper ad-pad clearfix">

      <h3>O que oferecemos?</h3>
      <!-- Start Carousel -->
      <div class="owl-carousel-container">
        <div id="carousel-1" class="owl-carousel">

          <!-- Carousel Item -->  
          <div class="item">
            <div class="mosaic-block circle">
              <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
              <div class="corner date">Ligue agora</div><img src="img/fill-4.jpg" alt="Mock" /></div>
            </div>

            <h6 class="title"><a href="post.html">Eventos</a></h6>
            <p>Morbi leo risus, porta ac conse ctetur ac, vestiosite Duis mollis, est non commodo luctus, nisi erat porttitor ligula soren
              &#8230;<a href="post.html" class="read-more">More</a></p>
            </div>

            <!-- Carousel Item -->  
            <div class="item">
              <div class="mosaic-block circle">
                <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                <div class="corner date">Reserve</div><img src="img/fill-3.jpg" alt="Mock" /></div>
              </div>

              <h6 class="title"><a href="post.html">Quadras</a></h6>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Maecenas sed diam eget risus varius blandit sit amet non
                &#8230;<a href="post.html" class="read-more">More</a></p>
              </div>
              
              <!-- Carousel Item -->  
              <div class="item">
                <div class="mosaic-block circle">
                  <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                  <div class="corner date">17 Sept</div><img src="img/fill-5.jpg" alt="Mock" /></div>
                </div>

                <h6 class="title"><a href="post.html">Campeonatos</a></h6>
                <p>Vestiosite Duis mollis, est non commodo luctus, nisi erat porttitor sed diam eget risus varius blandit sit amet non magna
                  &#8230;<a href="post.html" class="read-more">More</a></p>
                </div>

              <!-- Carousel Item -->  
              <div class="item">
                <div class="mosaic-block circle">
                  <a href="post.html" class="mosaic-overlay fancybox link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                  <div class="corner date">Aulas</div><img src="img/fill-5.jpg" alt="Mock" /></div>
                </div>

                <h6 class="title"><a href="post.html">Escola de Futebol</a></h6>
                <p>Vestiosite Duis mollis, est non commodo luctus, nisi erat porttitor sed diam eget risus varius blandit sit amet non magna
                  &#8230;<a href="post.html" class="read-more">More</a></p>
                </div>

              </div>
            </div>
          </div>
        </div>






  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper divider"></div>

  <!-- Start Outter Wrapper --> 
  <div class="outter-wrapper social-block centered">
    <div class="main-container">
      <div class="wrapper">
        <h3>Alguns de nossos <span>Patrocinadores.</span></h3>
      </div>

      <div class="clearfix">                  
        <!-- Start Main Content -->

        <ul class="social-thumbs">
          <li><img src="img/face.jpg" alt="mock" /></li>
          <li><img src="img/face2.jpg" alt="mock" /></li>
          <li><img src="img/face3.jpg" alt="mock" /></li>
          <li><img src="img/face4.jpg" alt="mock" /></li>
          <li><img src="img/face5.jpg" alt="mock" /></li>
          <li><img src="img/face6.jpg" alt="mock" /></li>
          <li><img src="img/face7.jpg" alt="mock" /></li>
          <li><img src="img/face8.jpg" alt="mock" /></li>
          <li><img src="img/face9.jpg" alt="mock" /></li>
          <li><img src="img/face10.jpg" alt="mock" /></li>
          <li><img src="img/face11.jpg" alt="mock" /></li>
          <li><img src="img/face.jpg" alt="mock" /></li>
          <li><img src="img/face2.jpg" alt="mock" /></li>
          
        </ul>

        <div class="wrapper"> 
          <a href="pricing2.html" class="btn">Reserve Agora</a> <a href="contact.html" class="btn-2">Entre em contato</a>

          <div class="share-this-btns">
            <!-- Share This -->
            <span class='st_facebook_hcount'></span>
            <span class='st_twitter_hcount'></span>
            <span class='st_googleplus_hcount'></span>
            <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({publisher: "ur-b4a0aaec-9733-1e85-1341-6dfcd856f67", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
            <!-- End Share This -->
          </div>

        </div>

      </div>
    </div> 
  </div>




  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper breadcrumb-wrapper">   
    <div class="wrapper">
      <a href="/" class="fa">&#xf015;</a> <a href="/">Home</a> 
    </div>
  </div>      
  <%- include footer.ejs %>

</body>
</html>
