<%- include head.ejs %>
<body>
  <%- include header.ejs %> 

  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper body-wrapper">   
    <div class="wrapper ad-pad clearfix">

      <div class="main-content col-1-1">
        <h1>Reserva agora!</h1>
        <p class="lead">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>                     
        
        
        <!-- Start Price -->
        <div class="price-table">
          <div class="price-row">
            <div class="price-cell">
              <p>R$400,00 <span>mensal</span></p>
            </div>
            <div class="price-cell">
              <h3>Clube Mebro VIP</h3>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            </div>
            <div class="price-cell">
              <h3>Extras</h3>
              <p>1 Churrasco por mês</p>
              <p>Video do jogo após as partidas</p>
            </div>
            <div class="price-cell last">         
              <p><a class="btn">Reserve agora</a></p>
            </div>
          </div>
        </div>

        <!-- Start Price -->
        <div class="price-table">
          <div class="price-row">
            <div class="price-cell">
              <p>R$120,00 <span>unitario</span></p>
            </div>
            <div class="price-cell">
              <h3>Pelada com os amigos</h3>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            </div>
            <div class="price-cell">
              <h3>Extras</h3>
              <p>Video do jogo após a partida</p>
            </div>
            <div class="price-cell last">         
              <p><a class="btn">Reserve agora</a></p>
            </div>
          </div>
        </div>


        <!-- Finish Main Content -->
      </div>
    </div>
  </div>


  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper body-wrapper">   
    <div class="wrapper ad-pad clearfix">
      
      
      <div class="col-3-4">
            <h1>Pedido de reserva</h1>
            <p class="lead">Cras justo odio, dapisonec  elit non mi porta gravida curab blaitit non mi porta gravida atmi porta gra eget metus. Praesent commodo cursus magna. </p> 
                      
            
            
             
             
            <!-- Start Form -->
            <form id="contactform" action="php/processForm.php" method="post">
              <table class="tableless">
                <tr><td><input type="text" id="name" name="name" placeholder="What's your name" /></td></tr>
                <tr><td><input type="email" id="email" name="email" placeholder="Email goes here" /></td></tr>
                <tr><td><textarea id="message" name="message" rows="5" cols="20" placeholder="Whats this about?"></textarea></td></tr>
              </table>
              
              
              <input name="button" class="btn-2" type="submit" value="Enviar" id="send" />
            </form>
            
            
            
            <div id="response"></div>
                                                                                                                 
        <!-- Finish Main Content -->
          </div>
      
      
      
  
      <!-- Start Main Sidebar  -->
      <aside class="col-1-4 last">
        <div class="widget">
        <h3>Find us at</h3>
          <ul class="widget-list list-1">
            <li><a href="#">facebook.com/sport</a></li>
            <li><a href="#">google.plus.com/sport</a></li>
            <li><a href="#">Twitter.com/sport</a></li>
            <li>310 Ashfield Ave, Suburbia, Brisbane, Australia, 4000</li>
          </ul>
          </div>  
      </aside> 
      <!-- Finish Sidebar -->
        
      
    </div>
  </div>
      

  <!-- Start Outter Wrapper -->
  <div class="outter-wrapper breadcrumb-wrapper">   
    <div class="wrapper">
      <a href="/" class="fa">&#xf015;</a> <a href="/">Home</a> <a href="#">Reservas</a> 
    </div>
  </div>      
  <%- include footer.ejs %>    

</body>

</html>