.header-style-5 .logo, .sidr-class-logo {
  max-width: 170px;
  display: inline-block;
  position: absolute;
  z-index: 99;
  top: 0px;
}
a.sidr-class-logo {
  max-width: 20px;
}
a.logo-mobile {
  position: absolute;
  width: 96px;
  left: 25px;
  z-index: 99;
}
.map-container {
  width: 100%;
}
.map-container iframe{
  width: 100%;
  display: block;
  pointer-events: none;
  position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
  pointer-events: auto;
}


.price-cell:first-child {
  width: 240px;
}
.price-cell{
   width: 240px;
}
